@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem>

@{
    string blockTitle = Model.Content.Value<string>("title") ?? "Search Results";
    string searchTerm = Model.Content.Value<string>("searchTerm") ?? "";

    Dictionary<string, string> typeMap = new(StringComparer.OrdinalIgnoreCase)
    {
        { "Events", "eventPage" },
        { "News", "newsPage" }
    };

    string[] selectedLabels = Model.Content.Value<string[]>("contentTypes") ?? Array.Empty<string>();

    string[] contentTypes = selectedLabels
        .Where(typeMap.ContainsKey)
        .Select(x => typeMap[x])
        .ToArray();

    string? orderBy = Model.Content.Value<string?>("orderBy");
    int pageSize = Model.Content.Value<int>("pageSize") > 0
        ? Model.Content.Value<int>("pageSize")
        : 6;

    int maxSize = Model.Content.Value<int?>("maxSize") is int m && m > 0
        ? m
        : -1;
    string noResultsText = Model.Content.Value<string?>("noResultsText") ?? "No Results";

    string? description = Model.Content.Value<string?>("description");
}

<div class="site-search-block" 
data-component="search-listing"
data-search-term="@searchTerm"
data-content-types="@string.Join(",", contentTypes)"
data-page-size="@pageSize"
data-max-size="@maxSize"
data-order-by="@orderBy"
data-no-results-text="@noResultsText"
>
    <h2>@blockTitle</h2>
    @if(!string.IsNullOrWhiteSpace(description))
    {
        <p>@description</p>
    }
    <div class="search-results-container">
    </div>
</div>
