@using SupporterPortal.Web.ViewModels
@using SupporterPortal.Web.ViewModels.Shared

@model MetaViewModel

<title>@Model.Title</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="@Model.Description" />
<meta property="og:description" content="@Model.Description" />
<meta property="og:title" content="@Model.Title" />
<meta property="og:image" content="@Model.ImageUrl" />
<meta name="twitter:image" content="@Model.ImageUrl" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
