@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using SupporterPortal.Web.ViewModels.Shared
@model NewsLetterFormViewModel


<form id="newsletterForm" data-component="newsletter-form" method="post" novalidate data-error-text="@Model.ErrorText">
    @Html.AntiForgeryToken()

    <div class="mb-3" id="newsletterFeedback"></div>

    <h2>@Model.Title</h2>

        <p>@Model.Description</p>

    <div class="mb-3">
        <label for="Name" class="form-label">@Model.NameLabel</label>
        <input type="text" id="Name" placeholder="@Model.NamePlaceholder" name="Name" class="form-control" required>
        <div class="invalid-feedback"></div>
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">@Model.EmailLabel</label>
        <input type="email" id="Email" placeholder="@Model.EmailPlaceholder" name="Email" class="form-control" required>
        <div class="invalid-feedback"></div>
    </div>

    <button type="submit" class="btn btn-primary">@Model.SubmitText</button>
</form>
